@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Varela Round', sans-serif;
  font-weight: lighter;
  background-color: #FFF8F0;
  color:#334870;
}
.container{
  background-color: #8db8b1;
  margin: 30px 10vw;
  padding-bottom: 20px;
}
.border{
  border-radius: 30px;
}
/*HEADER CONTAINER*/
.header{
  position: relative;
  display:flex;
  justify-content: space-between;
  align-items:flex-start;
  padding: 20px 30px;
}
.name .location{
  margin-bottom: 10px;
  font-size: 30px;
}
.name{
  position: relative;
}
/*both toggles*/
.toggle-check-box{
  position:relative;
  display: flex;
  width: 80px;
  height: 30px;
  display: inline-block;
}
.toggle-check-box input{
  display:none;
}
label{
  position: relative;
}
.toggle-bgd{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.toggle-bgd:after{
  position:absolute;
  content: "";
  width: 38px;
  height: 22px;
  border-radius:30px;
  background-color: #FFF8F0;
  top: 4px;
  left: 4px;
  transition:all 0.3s ease;
}
input:checked + .toggle-bgd:after{
  transform: translateX(35px);
}
label.translate-x{
  transform: translateX(35px);
  transition:all 0.3s ease;
}
label.toggle-check-box{
    transition:all 0.3s ease;
}
/*Location toggle: */
.location-bgd{
  background-color: #686d7a;
}
.arrow-icon{
  position: relative;
  margin-left: 11px;
  top:8px;
  font-size: 13px;
}
#location-toggle:checked + .toggle-bgd{
  background:#52AA8A;
}
#form{
  background-color: #FFF8F0;
  padding-right: 25px;
}
input[type=text] {
  border: none;
  height: 98px;
  width: 400px;
  padding-left: 20px;
  font-family: inherit;
  font-size: 27px;
  background-color: #FFF8F0;
  color:rgba(51, 72, 112, 0.7);
}
input[type=text]:focus {
  outline:0;
}
#submit-btn{
  background-color: #FFF8F0;
  padding: 0px;
  border: none;
  font-size: 30px;
  color: rgba(51, 72, 112, 0.7);
}
#submit-btn:hover{
  color: rgba(51, 72, 112, 1);
}
#submit-btn:focus{
  outline:0;
}
/*Units toggle: */
.label-text{
  margin-left: 10px;
  position: relative;
  top:6px;
  font-weight: bold;
  color: rgba(51, 72, 112, 0.7);
}
label #c{
  position:absolute;
  left: 45px;
}
label #f{
  position:absolute;
  left: 4px;
}
.units-bgd{
  background:#f5bfbf;
}
#units-toggle:checked + .toggle-bgd{
  background:#c7b9fa;
}
/*WEATHER DISPLAY*/
.weather-display{
  display:grid;
  grid-template-columns: 2fr 1.7fr;
  background-color: #DDF3F9;
  margin: 0 20px;
}
/*Information Container*/
.info-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#toggle-box-unit{
  margin-top: 30px;
  position: absolute;
  right: 30px;
}
.temperature{
  font-size: 130px;
  margin-top: 150px;
}
.feelslike{
  margin-bottom: 60px;
  font-size: 20px;
}
/*Inner details container*/
.details-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  position: relative;
}
.details-container .details-label{
  font-size: 20px;
  margin-bottom: 20px;
}
.detail{
  font-size: 30px;
  margin-bottom: 40px;
}
/*Description Container*/
.desc-container{
  position: relative;
  display:flex;
  flex-direction: column;
}
.description{
  font-size: 45px;
  position: absolute;
  bottom: 40px;
  left:50%;
  transform: translateX(-50%);
}
/*ANIMATIONS*/
.weather-animation{
  position: absolute;
  bottom: 300px;
  left:50%;
  transform:translateX(-50%) scale(6.5) ;
  display: none;
}
.cloudy,.day,.partly-cloudy-day{
  bottom: 250px;
}
.day{
  left:45%;
  transform:scale(9.5);
}
.medium-rain,.medium-snow{
  bottom: 275px;
}
/*MIST*/
.mist{
  display:none;
  padding-top: 140px;
}
.layer{
  position:relative;
  background-color:#5d7191;
  margin-bottom:45px;
  width: 150px;
  height: 6px;
  border-radius:40%;
}
#l1{
  left: 60%;
  transform:translateX(-50%);
  animation: mist-move 7s ease-in-out 0s infinite;
}
#l2{
  left: 30%;
  transform:translateX(-50%);
  animation: mist-move 10s linear infinite;
}
#l3{
  left: 70%;
  transform:translateX(-50%);
  animation: mist-move 8s ease-in-out infinite;
}
#l4{
  left: 50%;
  transform:translateX(-50%);
  animation: mist-move 6s linear infinite;
}
/*
#l1{
  left: 0px;
  animation: mist-move 7s ease-in-out 0s infinite;
}
#l2{
  right:0px;
  animation: mist-move 10s linear infinite;
}
#l3{
  left:0px;
  animation: mist-move 8s ease-in-out infinite;
}
#l4{
  animation: mist-move 6s linear infinite;
}*/
@keyframes mist-move{ /*Mist Animation*/
  0%{}
  50%{ transform:translate(-10px);}
  100%{}
}


/*Cloud:*/
/*
.cloud{
  display: none;
  background-color:white;
  position: relative;
  width: 300px;
  height: 100px;
  border-radius: 50px;
  z-index: 1;
}
.cloud-animation{
  animation-name: cloud-move;
  animation-duration: 10s;
  animation-timing-function:linear;
  animation-iteration-count: infinite;
}
.cloud-position{
  top: 50px;
}
.cloud:before{
  content: '';
  position: absolute;
  top: -40px;
  left: 150px;
  width: 95px;
  height: 95px;
  background: white;
  border-radius: 50%;
}
.cloud:after{
  content: '';
  position: absolute;
  top: -55px;
  left: 35px;
  width: 140px;
  height: 140px;
  background: white;
  border-radius: 50%;
}
@keyframes cloud-move{
  25%{transform:translate(40px);}
  75%{transform:translate(-40px);}
}
*/

/*Sun: */
/*
.sun{
  display: none;
  background-color:#f2c807;
  height: 120px;
  width: 120px;
  border-radius:50%;
  z-index: 0;
}
.sun-animation{
  animation: sun-spin 30s linear infinite;
}
.sun-position{
  position:absolute;
  top: 125px;
  left: 365px;
  margin:0;
  padding:0;
  height: 100px;
  width: 100px;
}
.sun li{
  background-color:#f2c807;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 260px;
  height: 4px;
  border-radius: 50%;
  list-style:none;
}
.sun li:nth-child(1){
  transform: translate(-50%, -50%) rotate(0deg);
}
.sun li:nth-child(2){
  transform: translate(-50%, -50%) rotate(90deg);
}
.sun li:nth-child(3){
  transform: translate(-50%, -50%) rotate(45deg);
}
.sun li:nth-child(4){
  transform: translate(-50%, -50%) rotate(-45deg);
}
@keyframes sun-spin{
  0%{ transform: rotate(0deg);}
  50%{ transform: rotate(180deg);}
  100%{ transform: rotate(360deg);}
}
*/




/*RAIN*/
/*
.rain{
  display: none;
  position:relative;
  z-index:0;
}
.raindrop{
  position:absolute;
  height:30px;
  width:4px;
  border-radius:40%;
}
#rd1{
  right:200px;
  top: 30px;
  background-color:#4c7ecf;
  animation: rain-drop 1s linear infinite;
}
#rd2{
  right:100px;
  top: 50px;
  background-color:#4c7ecf;
  animation: rain-drop 1.3s linear infinite;
}
@keyframes rain-drop{
  0%{
    opacity: 1;
  }
  50%{
    transform: translateY(50px);
    opacity: 0.75;
  }
  100%{
    opacity: 0;
    transform: translateY(80px) rotateX(90deg);
  }
}
*/

/*Lightning:*/
 /*
.lightning{
  display:none;
  position:relative;
}
.bolt{
  position:absolute;
  border-radius:0%;
  z-index:0;
  background-color: #f2c807;
}
#b1{
  right:135px;
  top: 25px;
  height: 45px;
  width: 25px;
  transform: rotate(20deg);
  animation: b1 2s ease-in infinite alternate;
}

#b2{
  right:140px;
  top: 60px;
  width: 20px;
  height: 40px;
  transform: rotate(25deg) skewY(30deg);
  animation: b2 2s ease-in infinite alternate;
}
@keyframes b1{
  0%{
    transform: rotate(20deg) scale(1);
  }
  50%{
    transform: rotate(20deg) scale(1.3) ;
  }
  100%{
  }
}
@keyframes b2{
  0%{
    transform: rotate(25deg) skewY(30deg) scale(1);
  }
  50%{
    transform: rotate(25deg) skewY(30deg) scale(1.3) ;
  }
  100%{
  }
}
*/
