@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body{
  font-family: 'Varela Round', sans-serif;
  font-weight: lighter;
  background-color: #e6edf3;
  color:#334870;
  height: 100vh;
  position: relative;
}
.container{
  background-color: #6eb5a9;
  margin: 5vh 10vw;
  padding-bottom: 20px;
  -webkit-box-shadow: 5px 5px 12px -3px rgba(0,0,0,0.31); 
  -moz-box-shadow: 5px 5px 12px -3px rgba(0,0,0,0.31); 
       box-shadow: 5px 5px 12px -3px rgba(0,0,0,0.31);
}
.border{
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
}
/*HEADER CONTAINER*/
.header{
  position: relative;
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align:start;
  -webkit-align-items:flex-start;
     -moz-box-align:start;
      -ms-flex-align:start;
          align-items:flex-start;
  padding: 20px 30px;
}
.name .location{
  margin-bottom: 12px;
  font-size: 30px;
}
.name{
  position: relative;
}
/* City Search Form */
#form{
  background-color: #FFF8F0;
  padding-right: 0px;
  position: relative;
}
input[type=text] {
  border: none;
  height: 98px;
  width: 100%;
  padding-left: 20px;
  font-family: inherit;
  font-size: 27px;
  background-color: #FFF8F0;
  color:rgba(51, 72, 112, 0.7);
}
input[type=text]:focus {
  outline:0;
}
#submit-btn{
  position: absolute;
  left:85%;
  top:50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color:transparent;
  padding: 0px;
  border: none;
  font-size: 30px;
  color: rgba(51, 72, 112, 0.7);
  z-index: 1;
  cursor: pointer
}
#submit-btn:hover{
  color: rgba(51, 72, 112, 1);
}
#submit-btn:focus{
  outline:0;
}
/* Location toggle */
.location-toggle{ 
  width: 80px;
  height: 30px;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  display: inline-block;
  cursor: pointer; 
  position: relative;
}
.location-input{
  display:none;
  cursor:pointer;
}
.location-fill{
  background: #686d7a;
  position: relative;
  width: 80px; 
  height: 30px; 
  -webkit-border-radius: 30px; 
     -moz-border-radius: 30px; 
          border-radius: 30px;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s; 
  cursor: pointer;  
  -webkit-box-shadow: inset 2px 2px 7px -5px rgba(0,0,0,0.3); 
  -moz-box-shadow: inset 2px 2px 7px -5px rgba(0,0,0,0.3); 
       box-shadow: inset 2px 2px 7px -5px rgba(0,0,0,0.3);
}
.location-input:checked ~ .location-fill{
  background: #56A0EE;
  -webkit-box-shadow: inset 2px 2px 7px -5px rgba(0,0,0,0.3); 
  -moz-box-shadow: inset 2px 2px 7px -5px rgba(0,0,0,0.3); 
       box-shadow: inset 2px 2px 7px -5px rgba(0,0,0,0.3);
}
.location-fill::after{
  position:absolute;
  content: "";
  width: 38px;
  height: 22px;
  -webkit-border-radius:30px;
     -moz-border-radius:30px;
          border-radius:30px;
  background-color: #FFF8F0;
  top: 4px;
  left: 4px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.location-input:checked ~ .location-fill::after{
  -webkit-transform: translateX(35px);
     -moz-transform: translateX(35px);
      -ms-transform: translateX(35px);
       -o-transform: translateX(35px);
          transform: translateX(35px);
}
.location-input:checked ~ .arrow-icon{
  -webkit-transform: translateX(35px);
     -moz-transform: translateX(35px);
      -ms-transform: translateX(35px);
       -o-transform: translateX(35px);
          transform: translateX(35px);
}
.fa-location-arrow:before {
    content: "\f124";
    cursor: pointer;
}
.arrow-icon{
  font-size: 13px;
  position: absolute;
  top: 9px;
  left: 15px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
/* Units toggle */
.units-toggle{ 
  width: 80px;
  height: 30px;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  display: inline-block;
  cursor: pointer; 
  position: absolute;
  margin-top: 30px;
  right: 30px;
}
.units-input{
  display:none;
}
.units-fill{
  background: #f5bfbf;
  position: relative;
  width: 80px; 
  height: 30px; 
  -webkit-border-radius: 30px; 
     -moz-border-radius: 30px; 
          border-radius: 30px;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s; 
  -webkit-box-shadow: inset 2px 2px 7px -5px rgba(0,0,0,0.3); 
  -moz-box-shadow: inset 2px 2px 7px -5px rgba(0,0,0,0.3); 
       box-shadow: inset 2px 2px 7px -5px rgba(0,0,0,0.3);
}
.units-input:checked ~ .units-fill{
  background: #c7b9fa;
  -webkit-box-shadow: inset 2px 2px 7px -5px rgba(0,0,0,0.3); 
  -moz-box-shadow: inset 2px 2px 7px -5px rgba(0,0,0,0.3); 
       box-shadow: inset 2px 2px 7px -5px rgba(0,0,0,0.3);
}
.units-fill::after{
  position:absolute;
  content: "";
  width: 38px;
  height: 22px;
  -webkit-border-radius:30px;
     -moz-border-radius:30px;
          border-radius:30px;
  background-color: #FFF8F0;
  top: 4px;
  left: 4px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.units-input:checked ~ .units-fill::after{
  -webkit-transform: translateX(35px);
     -moz-transform: translateX(35px);
      -ms-transform: translateX(35px);
       -o-transform: translateX(35px);
          transform: translateX(35px);
}
.label-text{
  position: absolute;
  top:6px;
  font-weight: bold;
  font-size: 0.9em;
  color: rgba(51, 72, 112, 0.7);
}
.farenheit{
  left: 16px;
}
.celsius{
  left: 51px;
}
/*WEATHER DISPLAY*/
.weather-display{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns: 2fr 1.7fr;
  grid-template-columns: 2fr 1.7fr;
  background-color: #DDF3F9;
  margin: 0 20px;
  -webkit-box-shadow: inset 2px 2px 7px -5px rgba(0,0,0,0.3); 
  -moz-box-shadow: inset 2px 2px 7px -5px rgba(0,0,0,0.3); 
       box-shadow: inset 2px 2px 7px -5px rgba(0,0,0,0.3);
}
/*Information Container*/
.info-container{
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#toggle-box-unit{
  margin-top: 30px;
  position: absolute;
  right: 30px;
}
.temperature{
  font-size: 130px;
  margin-top: 150px;
}
.feelslike{
  margin-bottom: 60px;
  font-size: 20px;
}
/*Additional Details Grid Container*/
.details-container{
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  position: relative;
}
.details-container .details-label{
  font-size: 20px;
  margin-bottom: 20px;
}
.detail{
  font-size: 30px;
  margin-bottom: 40px;
}
/*Weather Description Container*/
.desc-container{
  position: relative;
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.description{
  font-size: 45px;
  position: absolute;
  bottom: 40px;
  left:50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*ANIMATIONS*/
.weather-animation{
  position: absolute;
  bottom: 300px;
  left:50%;
  -webkit-transform:translateX(-50%) scale(6.5) ;
     -moz-transform:translateX(-50%) scale(6.5) ;
      -ms-transform:translateX(-50%) scale(6.5) ;
       -o-transform:translateX(-50%) scale(6.5) ;
          transform:translateX(-50%) scale(6.5) ;
  display: none;
}
.cloudy,.day,.night,.cloudy-day,.cloudy-night{
  bottom: 250px;
}
.day,.night{
  left:45%;
  -webkit-transform:scale(8.3);
     -moz-transform:scale(8.3);
      -ms-transform:scale(8.3);
       -o-transform:scale(8.3);
          transform:scale(8.3);
}
.rainy,.snowy{
  bottom: 275px;
}
/*mist animation*/
.mist{
  display:none;
  padding-top: 140px;
}
.layer{
  position:relative;
  background-color:#5d7191;
  margin-bottom:45px;
  width: 150px;
  height: 6px;
  -webkit-border-radius:40%;
     -moz-border-radius:40%;
          border-radius:40%;
}
#l1{
  left: 55%;
  -webkit-transform:translateX(-50%);
     -moz-transform:translateX(-50%);
      -ms-transform:translateX(-50%);
       -o-transform:translateX(-50%);
          transform:translateX(-50%);
  -webkit-animation: mist-move 7s ease-in-out 0s infinite;
     -moz-animation: mist-move 7s ease-in-out 0s infinite;
       -o-animation: mist-move 7s ease-in-out 0s infinite;
          animation: mist-move 7s ease-in-out 0s infinite;
}
#l2{
  left: 25%;
  -webkit-transform:translateX(-50%);
     -moz-transform:translateX(-50%);
      -ms-transform:translateX(-50%);
       -o-transform:translateX(-50%);
          transform:translateX(-50%);
  -webkit-animation: mist-move 10s linear infinite;
     -moz-animation: mist-move 10s linear infinite;
       -o-animation: mist-move 10s linear infinite;
          animation: mist-move 10s linear infinite;
}
#l3{
  left: 65%;
  -webkit-transform:translateX(-50%);
     -moz-transform:translateX(-50%);
      -ms-transform:translateX(-50%);
       -o-transform:translateX(-50%);
          transform:translateX(-50%);
  -webkit-animation: mist-move 8s ease-in-out infinite;
     -moz-animation: mist-move 8s ease-in-out infinite;
       -o-animation: mist-move 8s ease-in-out infinite;
          animation: mist-move 8s ease-in-out infinite;
}
#l4{
  left: 45%;
  -webkit-transform:translateX(-50%);
     -moz-transform:translateX(-50%);
      -ms-transform:translateX(-50%);
       -o-transform:translateX(-50%);
          transform:translateX(-50%);
  -webkit-animation: mist-move 6s linear infinite;
     -moz-animation: mist-move 6s linear infinite;
       -o-animation: mist-move 6s linear infinite;
          animation: mist-move 6s linear infinite;
}
@-webkit-keyframes mist-move{
  0%{}
  50%{ -webkit-transform:translate(-10px); transform:translate(-10px);}
  100%{}
}
@-moz-keyframes mist-move{
  0%{}
  50%{ -moz-transform:translate(-10px); transform:translate(-10px);}
  100%{}
}
@-o-keyframes mist-move{
  0%{}
  50%{ -o-transform:translate(-10px); transform:translate(-10px);}
  100%{}
}
@keyframes mist-move{
  0%{}
  50%{ -webkit-transform:translate(-10px); -moz-transform:translate(-10px); -o-transform:translate(-10px); transform:translate(-10px);}
  100%{}
}
/*Else case for no matching animations from API call*/
.else-case{
  font-size: 25px;
  text-align: center;
  position: absolute;
  bottom: 250px;
  left:50%;
  -webkit-transform:translateX(-50%);
     -moz-transform:translateX(-50%);
      -ms-transform:translateX(-50%);
       -o-transform:translateX(-50%);
          transform:translateX(-50%);
  display: none;
}
/*Media Queries*/
@media screen and (max-width: 1300px) {
    .container{
      margin: 10vh 10vw;
    }
    .temperature{
      font-size: 80px;
    }
    .feelslike{
      font-size: 18px;
    }
    .details-container .details-label{
      font-size: 18px;
    }
    .detail{
      font-size: 23px;
    }
    .description{
      font-size: 35px;
    }
    .weather-animation{
      bottom: 220px;
      -webkit-transform:translateX(-50%) scale(5.5);
         -moz-transform:translateX(-50%) scale(5.5);
          -ms-transform:translateX(-50%) scale(5.5);
           -o-transform:translateX(-50%) scale(5.5);
              transform:translateX(-50%) scale(5.5);
    }
    .cloudy,.day,.night,.cloudy-day,.cloudy-night{
      bottom: 220px;
    }
    .day,.night{
      -webkit-transform:scale(6.5);
         -moz-transform:scale(6.5);
          -ms-transform:scale(6.5);
           -o-transform:scale(6.5);
              transform:scale(6.5);
    }
    .rainy,.snowy,.thunder{
      bottom: 230px;
    }
    .mist{
      padding-top: 110px;
    }
    .layer{
      width: 110px;
      margin-bottom:40px;
    }
    .else-case{
      font-size: 22px;
      bottom: 180px;
    }
    input[type=text] {
      height: 80px;
      font-size: 25px;
      -webkit-box-shadow: inset 2px 2px 7px -5px rgba(0,0,0,0.3); 
      -moz-box-shadow: inset 2px 2px 7px -5px rgba(0,0,0,0.3); 
           box-shadow: inset 2px 2px 7px -5px rgba(0,0,0,0.3);
    }
    #submit-btn{
      font-size: 28px;
    }
}
@media screen and (max-width: 990px) {
    .container{
      margin: 12vh 10vw;
    }
    .temperature{
      font-size: 72px;
    }
    .feelslike{
      font-size: 16px;
    }
    .details-container .details-label{
      font-size: 16px;
    }
    .detail{
      font-size: 16px;
    }
    .description{
      font-size: 28px;
    }
    .weather-animation{
      bottom: 200px;
      -webkit-transform:translateX(-50%) scale(4.5);
         -moz-transform:translateX(-50%) scale(4.5);
          -ms-transform:translateX(-50%) scale(4.5);
           -o-transform:translateX(-50%) scale(4.5);
              transform:translateX(-50%) scale(4.5);
    }
    .cloudy,.cloudy-day,.cloudy-night{
      bottom: 175px;
    }
    .day,.night{
      -webkit-transform:scale(6.3);
         -moz-transform:scale(6.3);
          -ms-transform:scale(6.3);
           -o-transform:scale(6.3);
              transform:scale(6.3);
    }
    .rainy,.snowy,.thunder{
      bottom: 220px;
    }
    .mist{
      padding-top: 110px;
    }
    .layer{
      width: 100px;
      margin-bottom:35px;
    }
    .else-case{
      font-size: 18px;
      bottom: 160px;
    }
    input[type=text] {
      height: 70px;
      font-size: 20px;
    }
    #submit-btn{
      font-size: 25px;
    }
    .name .location{
      font-size: 28px;
    }
}
@media screen and (max-width: 770px) {
    .container{
      margin: 10px 5vw;
    }
    .header{
      display:-webkit-box;
      display:-webkit-flex;
      display:-moz-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-orient:vertical;
      -webkit-box-direction:normal;
      -webkit-flex-direction:column;
         -moz-box-orient:vertical;
         -moz-box-direction:normal;
          -ms-flex-direction:column;
              flex-direction:column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align:center;
      -webkit-align-items:center;
         -moz-box-align:center;
          -ms-flex-align:center;
              align-items:center;
      padding: 20px 30px;
    }
    .name .location{
      margin: 20px 0;
      font-size: 26px;
      text-align: center;
    }
    #form{
      margin-top: 20px;
      width: 100%;
    }
    input[type=text] {
      height: 45px;
      font-size: 19px;
    }
    #submit-btn{
      font-size: 23px;
    }
    .loc-toggle-container{
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .weather-display{
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: 1.75fr 2fr;
      grid-template-rows: 1.75fr 2fr;
    }
    .weather-display > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    }
    .weather-display > *:nth-child(2){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    }
    .temperature{
      margin-top: 100px;
      font-size: 75px;
    }
    .feelslike{
      font-size: 18px;
    }
    .details-container .details-label{
      font-size: 18px;
    }
    .detail{
      font-size: 22px;
    }
    .description{
      font-size: 30px;
    }
    .weather-animation{
      bottom: 185px;
    }
    .cloudy,.cloudy-day,.cloudy-night{
      bottom: 155px;
    }
    .day,.night{
      bottom: 175px;
    }
    .rainy,.snowy,.thunder{
      bottom: 190px;
    }
    .mist{
      padding-top: 95px;
    }
    .layer{
      width: 83px;
      height: 5px;
      margin-bottom:25px;
    }
}
@media screen and (max-width: 480px) {
    .container{
      margin:0;
      padding-bottom: 15px;
      -webkit-border-radius: 0;
         -moz-border-radius: 0;
              border-radius: 0;
    }
    .header{
      padding: 0 14px 15px 14px;
    }
    .name .location{
      margin-bottom: 15px;
      font-size: 22px;
    }
    #form{
      margin-top: 15px;
      width: 95%;
    }
    input[type=text] {
      height: 35px;
      width: 90%;
      font-size: 17px;
    }
    #submit-btn{
      font-size: 18px;
    }
    .weather-display{
      margin: 0;
      -webkit-border-radius: 0;
         -moz-border-radius: 0;
              border-radius: 0;
    }
    .info-container{
      border-top: 15px solid #8db8b1;
    }
    .temperature{
      margin-top: 120px;
      font-size: 50px;
    }
    .details-container{
      width: 80%;
    }
    .details-container .details-label{
      font-size: 15px;
    }
    .detail{
      font-size: 15px;
    }
    .description{
      font-size: 28px;
    }
    .weather-animation{
      bottom: 170px;
      -webkit-transform:translateX(-50%) scale(3.7);
         -moz-transform:translateX(-50%) scale(3.7);
          -ms-transform:translateX(-50%) scale(3.7);
           -o-transform:translateX(-50%) scale(3.7);
              transform:translateX(-50%) scale(3.7);
    }
    .day,.night{
      bottom: 175px;
      -webkit-transform:scale(4.5);
         -moz-transform:scale(4.5);
          -ms-transform:scale(4.5);
           -o-transform:scale(4.5);
              transform:scale(4.5);
    }
    .rainy,.snowy,.thunder{
      bottom: 180px;
    }
    .mist{
      padding-top: 85px;
    }
}
@media screen and (max-width: 285px) {
  #submit-btn{
    font-size: 15px;
  }
}